<form action="/post" method="POST" id="postform" enctype="multipart/form-data">
  {% csrf-token %}
  <label for="subject">subject</label>
  <input id="subject" name="subject" type="text"></input>
  <br/>
  <label for="comment">comment</label>
  <textarea id="comment" name="content" cols="40" rows="10" form="postform"></textarea>
  <br/>
  <label for="tags">tags</label>
  <input id="tags" name="tags" type="text"></input>
  <br/>
  <label for="image">image</label>
  <input type="file" name="uploaded-file" id="image">
  <input type="submit" value="post">
</form>
