<form action="/signup" method="POST">
  {% csrf-token %}
  <label for="name">name</label>
  <input id="name" name="name" type="text"></input>
  <label for="pass">password</label>
  <input id="pass" name="pass" type="text"></input>
  <input type="submit" value="signup">
</form>
