<div id="boundary">
    <div id="post_box">
        <a href="{{file_link}}">
            <img id="thumbnail" src="{{thumbnail}}">
        </a>
        <span id="post_subject">{{post.subject}}</span>
        <span id="post_number">
            <a href="/post/{{post.id}}">#{{post.id}}</a>
        </span>
        <blockquote id="post_content">{{post.content}}</blockquote>
        <div id="tag-container">
            {% for name in tags %}
                <a href="/tag/{{name}}" class="tag">{{name}}</a>
            {% endfor %}
        </div>
    </div>
</div>
