<div class="thread-container">
  <div class="thread-box">
    <div class="thread-thumbnail-container">
      <a href"{{thumbnail_file_link}}">
        <img class="thread-thumbnail"/>
      </a>
    </div>
    <div class="name-container">
    </div>
    <div class="thread-subject">
      <p>{{thread.subect}}</p>
    </div>
    <div class="thread-id-container">
      <a href="/thread/{{thread.id}}">
        <p>#{{post.id}}</p>
      </a>
    </div>
    <div class="thread-content-container">
      <p>{{thread.content}}</p>
    </div>
  </div>
</div>
