<!DOCTYPE html>
<form id="passwordform" action="/checkauth" method="POST">
  {% csrf-token %}
  <input type="hidden" name="tag_id" value="{{tag-id}}">
  <input id=password type="hidden" name="pass">
</form>
<script>
    document.getElementById("password").value = localStorage.getItem("{{tag-id}}");
    document.getElementById("passwordform").submit();
</script>
