<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View List of Tags</title>
    </head>
    <body>
        <ul>
            {% for tag in tags %}
                <li><a href="tags/{{tag.name}}">{{tag.name}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
