<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login</title>
    </head>
    <body>
        <div id="login_box">
            <div id="login_form">
                <form action="/login" method="POST">
                  {% csrf-token %}
                  <div id="input_fields">
                      <div id="name_field">
                          <label id="name_label" for="name">name</label>
                          <input id="name" name="name" type="text"></input>
                      </div>
                      <div id="pass_field">
                          <label id="pass_label" for="pass">password</label>
                          <input id="pass" name="pass" type="text"></input>
                      </div>
                  </div>
                  <div id="submit_button">
                    <input type="submit" value="login">
                  </div>
                </form>
            </div>
        </div>
        {% style "/css/login.css" %}
    </body>
</html>
