<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Viewing {{face.name}}'s Face</title>
    </head>
    <body>
        <ul>
            <h1> {{face.name}} </h1>
            <h2> Born {{relative-birth}}</h2>
        </ul>
    </body>
</html>

