<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Signup Failure</title>
    </head>
    <body>
        <h2>Signup encountered an error: {{failure}}!</h2>
    </body>
</html>
