<form action="/auth" method="POST" id="postform" enctype="multipart/form-data">
  {% csrf-token %}
  <label for="password">password</label>
  <input id="password" name="password" type="text">
  <input type="hidden" name="tag_id" value="{{tag-id}}">
  <input type="submit" value="auth">
</form>

<script>
if (localStorage.getItem("{{tag-id}}") !== null) {
        window.location.assign("/tags/id/{{tag-id}}");
    }
</script>
