<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View Posts for Tag {{tag-name}}</title>
    </head>
    <body>
        {% for post in posts %}
            {% with thumbnail=post.thumb  tags=post.tags%}
                {% include _view_post.html with tags=tags thumbnail=thumbnail post=post %}
            {% endwith %}
        {% endfor %}
    </body>
</html>
