#login_form {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#login_box {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 80%;
    background-color: #b0e0e6;
}

#submit_button {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

label {
    color: #666;
    font-weight: bold;
    vertical-align: middle;
}

#input_fields {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

#name_field {
    overflow: auto;
}

#pass_field {
    overflow: auto;
}

#name {
    float: right;
    width: auto
}

#pass {
    float: right;
}
