@import url(https://fonts.googleapis.com/css?family=Istok+Web);

#boundary {
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
}

#post_box {
    border-style: solid;
    border-width: 1px;
    border-color: $3C362A;
    background-color: #C9D6EA;
    height: auto;
    overflow: auto;
}

#post_subject {
    position: relative;
    top: 12px;
    left: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-weight: 500;
    line-height: 18.4799995422363px;
    border-style: solid;
    border-width: 0 0 thin 0;
}

#post_content {
    position:relative;
    left: 15px;
    margin: 25px 15px 15px 15px;
    width: auto;
    font-family: 'Istok Web', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 13.4399995803833px;
}

#post_number {
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-weight: 500;
    line-height: 18.4799995422363px;
}


#thumbnail {
    float: left;
    margin: 10px 10px 10px 10px;
    vertical-align: sub;
}
